@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$blue-palette,
    typography: Roboto,
    density: 0
  ));
}

.mat-card-content {
    font-size: 16px;  /* Custom font size */
    padding: 16px;    /* Adjust padding */
    color: #757575;   /* Custom text color */
}